body { 
    text-align: center;
}

h1 {
    color: black;
}

form {
    text-align: center;
    border-style: ridge;
}

div {
    text-align: center;
    border-style: ridge;
      
}
img {


        width: 500px;
      

}