
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #100e17;
    min-height: 100vh;
  }

  h1{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: rgb(189, 189, 189);
    cursor: pointer;
  }
  
  .container {
    position: relative;
    height: 300px;
    width: 600px;
    top: 60px;
    left: calc(50% - 300px);
    display: flex;
  }
  
  .card {
    display: flex;
    height: 280px;
    width: 200px;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
  /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
  }

  .container.info {
    align-items: center;
  }

  .info {
    position: absolute;
    bottom: 0px;
    height: 0px;
    color: rgb(189, 189, 189);
    text-align: center;
  }
  
  .card:not(:first-child) {
      margin-left: -50px;
  }
  
  .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  .card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }
  
  .title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
  }

  img {
    width: 110px;
    height: 280px;
    object-fit: cover;
    cursor: grab;
  }

  form {
    font-family: 'Open Sans', sans-serif;
    color: purple;
    cursor: pointer;
        
  }

  footer {
    display: inline-block;
    margin-top: 350px;
    margin-right: 50px;
    margin-left: 450px;
  }

  #formHolder{
    text-align: center;
    display: inline-block;
  }

  button {
    background: white;
    border: unset;
    outline: 0;
    font-size: 18px;
    cursor: pointer;
    color: grey;
    padding: 5px 10px;
  }

  button.like {
    color: purple;
    animation: anim 0.5s ease-in-out;
    -webkit-animation: anim 0.5s ease-in-out;
  }

  button.liked {
    color: purple;
    animation: anims 0.5s ease-in-out;
    -webkit-animation: anims 0.5s ease-in-out;
  }


  @keyframes anim {
    100% {
      transform: rotate(-15deg) scale(1.3);
      -webkit-transform: rotate(-15deg) scale(1.3);
      -moz-transform: rotate(-15deg) scale(1.3);
      -ms-transform: rotate(-15deg) scale(1.3);
      -o-transform: rotate(-15deg) scale(1.3);
      filter: blur(0.5px);
      -webkit-filter: blur(0.5px);
    }
  }

  @keyframes anims {
    100% {
      transform: rotate(15deg) scale(1.3);
      -webkit-transform: rotate(15deg) scale(1.3);
      -moz-transform: rotate(15deg) scale(1.3);
      -ms-transform: rotate(15deg) scale(1.3);
      -o-transform: rotate(15deg) scale(1.3);
      filter: blur(0.5px);
      -webkit-filter: blur(0.5px);
    }
  }

  .submit {
    background: white;
    color: purple;
    border: unset;
    outline: 0;
    font-size: 18px;
    cursor: pointer;
    padding: 5px 10px;
  }
  